@import "css/checkBoxAndRadio.css";
@import "css/profile.css";

html {
    overflow-y: scroll;
}

body {
    margin: 0;
    font-family: "Noto Sans", Arial, sans-serif;
    color: #495057;
    /*font-size: 14px;*/
}

a {
    text-decoration: none;
}

h1 {
    margin: 24px 0;
    font-size: 24px;
    text-align: center;
}

h2 {
    margin: 24px 0;
    font-size: 24px;
    text-align: center;
}

select {
    padding: 6px 12px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: #CED4DA;
    background-clip: padding-box;
    font-size: 16px;
    color: #495057;
}

select:disabled {
    background-color: #E9ECEF;
}

input[type=text] {
    padding: 6px 12px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: #CED4DA;
    box-sizing: border-box;
    font-size: 16px;
    color: #495057;

    /*overflow: visible;*/

    /*background-clip: padding-box;*/
    /*line-height: 24px;*/

    /*height: 38px;*/
}

input[type=text]::placeholder {
    color: #949DA5;
}

input[type=password] {
    padding: 6px 12px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: #CED4DA;
    box-sizing: border-box;
    font-size: 16px;
    color: #495057;
}

input[type=password]::placeholder {
    color: #949DA5;
}

input[type=submit], button {
    padding: 6px 12px;
    /*background-color: rgb(108, 117, 125);*/
    /*border-color: rgb(108, 117, 125);*/
    background-color: #0a1971;
    border-color: #0a1971;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;

    line-height: 24px;
    height: 38px;
    overflow: visible;
}

input[type=submit]:hover, button:hover {
    /*background-color: rgb(89, 96, 103);*/
    /*border-color: rgb(83, 90, 96);*/
    background-color: #0a1a9c;
    border-color: #0A1A86;
}

.main {
    max-width: 1400px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    /*background: #DAE9F6;*/
    background: #F6F6F6;
    padding-bottom: 100px;
}

.header {
    padding: 15px 0;
    /*background-color: cadetblue;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
}

.logo {
    max-width: 200px;
    /*display: block;*/
    /*margin: 0 auto;*/
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}

.icon-login {
    width: 16px;
    margin-right: 5px;
    fill: #FFFFFF;
}

.text-login:hover {
    /*color: #FFFFFF;*/
    text-decoration: none;
}

.menu {
    padding: 0 15px;
    background-color: #0a1971;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    font-family: "Noto Sans";
    font-weight: 600;
    letter-spacing: 0.05rem;
}

.menu-item {
    padding: 10px;
    color: #FFFFFF;
}

.menu-item:hover {
    background-color: #f7d117;
    color: #0a1971;
    cursor: pointer;
    /*transition: all ease-in-out 0.1s;*/
    transition: all ease-in 0.07s;
}

.menu-item:hover .icon-login {
    background: #f7d117;
    fill: #0a1971;
    transition: all ease-in 0.12s;
}

.table {
    display: table;
    width: 100%;
}

.table-row {
    display: table-row;
}

.fix {
    height: 58px;
}

.ta-left {
    text-align: left;
}

.ta-right {
    text-align: right;
}

.ta-center {
    text-align: center;
}

.display {
    display: none;
}

.exceptionErrorMessage {
    font-size: 16px;
}

.table-row a {
    display: table-cell;
    width: 105px;
    padding-left: 20px;
    font-size: 13px;
}

.login-form {
    width: 548px;
    height: auto;
    background: #FFFFFF;
    padding: 24px 150px;
}

.login-label {
    display: table-cell;
    width: 105px;
    padding-left: 20px;
    font-size: 16px;
}

.login-obligatory {
    display: none;
    font-size: 12px;
    padding: 4px 0 0 0;
    color: #f7624e;
}

.login-input {
    /*display: table-cell;*/
    margin-top: 12px;
    width: 100%;
    height: 42px;
}

.login-button {
    margin: 12px 0;
    width: 50%;
    text-align: center;
}

.login-error {
    margin: 8px 0 0 0;
    font-size: 14px;
    color: #f7624e;

}

/*=== calculation-container ===*/
.calculation {
    width: 60%;
    margin: 0 auto;
}

.calculation-container {
    margin: 0 auto;
    padding: 24px 0;
    max-width: 1200px;
    background-color: #FFFFFF;
}

.calculation-label {
    display: table-cell;
    /*width: 325px;*/
    width: 42.5%;
    padding-right: 50px;
    font-size: 15px;
    vertical-align: middle;
}

.calculation-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    font-size: 14px;
}

.calculation-content {
    margin: 8px 0;
    width: 100%;
    height: 42px;
}

.calculation-button {
    margin: 16px 0 0 24px;
    width: 130px;
}

.calculation-divider {
    margin: 24px auto 12px;
    width: 60%;
    border: none;
    border-bottom: 1px solid #CED4DA;
}

.test {
    width: 60px;
}

#auto-number__number {
    width: 60px;
    flex-grow: 7;
}

#auto-number__region {
    width: 60px;
    flex-grow: 3;
    margin-right: 12px;
}

#auto-number__country {
    width: 60px;
    flex-grow: 1;
}

.document-serial {
    width: 60px;
    flex-grow: 5;
    margin-right: 12px;
}

.document-number {
    width: 60px;
    flex-grow: 7;
}

.address-number +.address-number {
    margin-left: 12px;
}

/*=== end-calculation-container ===*/



/*=== calculation form ===*/
.form {
    margin: 0 auto;
    max-width: 610px;
}

.form__row {
    position: relative;
    display: block;
}

.form__row + .form__row {
    margin-top: 16px;
}

.form__label {
    position: absolute;
    top: 20px;
    left: 0;
    max-width: 210px;
    display: block;
}

/*=== end calculation form ===*/


/*.form-label {*/
/*    position: absolute;*/
/*    top: 20px;*/
/*    -ms-transform: translateY(-50%);*/
/*    transform: translateY(-50%);*/
/*    left: 0;*/
/*    max-width: 210px;*/
/*    backface-visibility: hidden;*/
/*    line-height: 1.43;*/
/*    transition: .5s opacity,.5s visibility;*/
/*    display: block;*/
/*}*/

/*.form-content {*/
/*    box-sizing:border-box;*/
/*    color:rgb(119, 119, 119);*/
/*    display:block;*/
/*    font-family:"Noto Sans", Arial, sans-serif;*/
/*    font-size:14px;*/
/*    height:59px;*/
/*    margin-left:120px;*/
/*    min-height:19px;*/
/*    position:relative;*/
/*    text-size-adjust:100%;*/
/*    width:460px;*/
/*}*/

/*.form-field {*/
/*    box-sizing:border-box;*/
/*    color:rgb(119, 119, 119);*/
/*    display:block;*/
/*    flex-grow:1;*/
/*    font-family:"Noto Sans", Arial, sans-serif;*/
/*    font-size:14px;*/
/*    height:59px;*/
/*    max-width:320px;*/
/*    text-size-adjust:100%;*/
/*    width:320px;*/
/*}*/

/*.input-box {*/
/*    box-sizing:border-box;*/
/*    color:rgb(119, 119, 119);*/
/*    display:block;*/
/*    font-family:"Noto Sans", Arial, sans-serif;*/
/*    font-size:14px;*/
/*    height:40px;*/
/*    position:relative;*/
/*    text-size-adjust:100%;*/
/*    width:320px;*/
/*}*/

/*.ffff {*/
/*    background-color:rgb(255, 255, 255);*/
/*    background-image:none;*/
/*    border-bottom-color:rgb(219, 219, 219);*/
/*    border-bottom-left-radius:4px;*/
/*    border-bottom-right-radius:4px;*/
/*    border-bottom-style:solid;*/
/*    border-bottom-width:1px;*/
/*    border-image-outset:0px;*/
/*    border-image-repeat:stretch;*/
/*    border-image-slice:100%;*/
/*    border-image-source:none;*/
/*    border-image-width:1;*/
/*    border-left-color:rgb(219, 219, 219);*/
/*    border-left-style:solid;*/
/*    border-left-width:1px;*/
/*    border-right-color:rgb(219, 219, 219);*/
/*    border-right-style:solid;*/
/*    border-right-width:1px;*/
/*    border-top-color:rgb(219, 219, 219);*/
/*    border-top-left-radius:4px;*/
/*    border-top-right-radius:4px;*/
/*    border-top-style:solid;*/
/*    border-top-width:1px;*/
/*    box-sizing:border-box;*/
/*    color:rgb(119, 119, 119);*/
/*    cursor:text;*/
/*    display:inline-block;*/
/*    font-family:"Noto Sans", Arial, sans-serif;*/
/*    font-size:14px;*/
/*    font-stretch:100%;*/
/*    font-style:normal;*/
/*    font-variant-caps:normal;*/
/*    font-variant-east-asian:normal;*/
/*    font-variant-ligatures:normal;*/
/*    font-variant-numeric:normal;*/
/*    font-weight:400;*/
/*    height:40px;*/
/*    letter-spacing:normal;*/
/*    line-height:normal;*/
/*    margin-bottom:0px;*/
/*    margin-left:0px;*/
/*    margin-right:0px;*/
/*    margin-top:0px;*/
/*    outline-color:rgb(119, 119, 119);*/
/*    outline-style:none;*/
/*    outline-width:0px;*/
/*    overflow-x:visible;*/
/*    overflow-y:visible;*/
/*    padding-bottom:10px;*/
/*    padding-left:10px;*/
/*    padding-right:10px;*/
/*    padding-top:10px;*/
/*    resize:none;*/
/*    text-align:start;*/
/*    text-indent:0px;*/
/*    text-rendering:auto;*/
/*    text-shadow:none;*/
/*    text-size-adjust:100%;*/
/*    text-transform:none;*/
/*    width:320px;*/
/*    word-spacing:0px;*/
/*    writing-mode:horizontal-tb;*/
/*    -webkit-appearance:none;*/
/*    -webkit-rtl-ordering:logical;*/
/*    -webkit-border-image:none;*/
/*}*/


.e-btn {
    padding: 0.9rem 1.2rem 0.7rem 1.2rem;
    border-radius: 1.35rem;
    border: 0;
    color: #0a1971;
    background-color: #f7d117;
    font-size: 0.875rem;
    font-family: Lato, sans-serif;
    font-weight: bold;
    line-height: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all ease-in-out 0.4s;
    text-decoration: none;
}


.search {
    position: relative;
}

.search_result {
    background: #FFF;
    border: 1px #ccc solid;
    width: 100px;
    border-radius: 4px;
    max-height: 100px;
    overflow-y: scroll;
    display: none;
}

.search_result li {
    list-style: none;
    padding: 5px 10px;
    margin: 0 0 0 -40px;
    color: #0896D3;
    border-bottom: 1px #ccc solid;
    cursor: pointer;
    transition: 0.3s;
}

.search_result li:hover {
    background: #F9FF00;
}

.label-font {
    font-weight: bold;
}

.container {
    background: #DCDCDC;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}


/*.invalid { border-color: red; }*/
/*#error { color: red }*/

#js-mark-list {
    position: relative;
}

/*li{*/
/*    cursor: pointer;*/
/*}*/

#ultag {
    width: 100%; /* ширина, которая вам нужна */
    max-height: 385px; /* высота, которая вам нужна */
    /*overflow-x: hidden;*/
    overflow-y: scroll;
    /*list-style-type:none;*/
    background-color: white;
    padding-left: 0;
    position: absolute;
    border: 1px solid cornflowerblue;
    z-index: 1;
}

.mark-option div {
    padding-left: 12px;
}

.mark-option:hover {
    background-color: rgba(117, 190, 218);
    color: white;
    cursor: default;
}

/*ul.ultag li {*/
/*    width: 99px;*/
/*    !*height: 15px;*!*/
/*    background-color: lightblue;*/
/*    float: left;*/
/*    border: 1px solid grey;*/
/*    text-align: center;*/
/*}*/
/*ul.ultag li span {*/
/*    !*position: relative; left: 0; top: 0;*!*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 90%;*/
/*    margin-top: -4px;*/
/*    overflow: visible;*/
/*}*/
/*ul.ultag li:hover {*/
/*    box-shadow: 0 0 5px 5px #000000;*/
/*}*/