.cabinet_users_table {
    display: table;
    width: 100%;
    border: 1px solid #E3E6F0;
    border-bottom: none;
    border-right: none;
    margin-bottom: 20px;
}

.cabinet_users_table-title {
    display: table-row;
    font-weight: bold;
    cursor: default;
}

.cabinet_users_table-title div {
    position: relative;
    padding-right: 24px;
    cursor: pointer;
}

.cabinet_users_table-title div::before {
    content: '\2191';
    color: #D1D4DE;
    position: absolute;
    right: 14px;
}

.cabinet_users_table-title div::after {
    content: '\2193';
    color: #D1D4DE;
    position: absolute;
    right: 8px;
}

.asc::before, .desc::after{
    color: #5b5d67 !important;
}

.unsorted::before, .unsorted::after {
    content: none !important;
}

.cabinet_users_table-row {
    display: table-row;
}

.cabinet_users_table-row:hover {
    background: #F6F6F6;
    cursor: pointer;
}

.cabinet_users_table-cell {
    display: table-cell;
    border-bottom: 1px solid #E3E6F0;
    border-right: 1px solid #E3E6F0;
    padding: 8px;
    font-size: 14px;
    vertical-align: middle;
}

.cabinet_under_table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: row;
}

.navigation label {
    padding: 8px 10px;
    width: 22px;
    text-align: center;
    background: #0a1971;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.navigation label:hover {
    background: #0a1a9c;
}

.navigation label.selected {
    background: #f7d117;
    color: #0a1971;
}

.navigation label.edge {
    color: #f7d117;
    font-weight: 900;
}





/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: #0a1a9c;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}